body {
  font-family: monospace;
  display: grid;
  place-items: center;
  text-align: center;
}

#mainImg {
  cursor: none;
  max-width: 320px;
}

#outputText {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}